@model KeyValueList<string, string>

@{
    ViewData["Title"] = "Home Page";

    KeyValueList<string, string> data = Model;
}
<h2>DaemonCenter Client Test</h2>
<p>　</p>

<ul>
    @foreach (var kv in data)
    {
        <li><b>@kv.Key:<br>@Html.Raw(kv.Value._EncodeHtml(true))<BR><br></b></li>
    }
</ul>
